.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto hace que el contenido ocupe toda la altura de la pantalla */
  background-color: #000000; /* Fondo oscuro, puedes cambiarlo si deseas */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.App-text {
  font-size: 36px; /* Puedes ajustar el tamaño del texto */
  font-family: 'Roboto', sans-serif; /* Cambiar la fuente a algo más moderno */
  font-weight: bold;
  margin-top: 20px;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
